In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark.context import SparkContext

In [2]:
credentials_location = '/home/ramazan/DE_zoomcamp_2024/GC_creds/fresh-ocean-412204-ebb8e1ff44da.json'

conf = SparkConf() \
    .setMaster('local[*]') \
    .setAppName('test') \
    .set("spark.jars", "/home/ramazan/DE_zoomcamp_2024/module_5/.lib/gcs-connector-hadoop3-2.2.5.jar") \
    .set("spark.hadoop.google.cloud.auth.service.account.enable", "true") \
    .set("spark.hadoop.google.cloud.auth.service.account.json.keyfile", credentials_location)

In [3]:
sc = SparkContext(conf=conf)

hadoop_conf = sc._jsc.hadoopConfiguration()

hadoop_conf.set("fs.AbstractFileSystem.gs.impl",  "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFS")
hadoop_conf.set("fs.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem")
hadoop_conf.set("fs.gs.auth.service.account.json.keyfile", credentials_location)
hadoop_conf.set("fs.gs.auth.service.account.enable", "true")

24/03/01 10:01:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/01 10:01:58 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
spark = SparkSession.builder \
    .config(conf=sc.getConf()) \
    .getOrCreate()

In [5]:
df_green = spark.read.parquet('gs://dtc_data_lake_de-zoomcamp-nytaxi_ramazan/pq/green/*/*')

In [6]:
df_green.show(1, vertical=True)

-RECORD 0------------------------------------
 VendorID              | 2
 lpep_pickup_datetime  | 2020-01-23 13:10:15
 lpep_dropoff_datetime | 2020-01-23 13:38:16
 store_and_fwd_flag    | N
 RatecodeID            | 1
 PULocationID          | 74
 DOLocationID          | 130
 passenger_count       | 1
 trip_distance         | 12.77
 fare_amount           | 36.0
 extra                 | 0.0
 mta_tax               | 0.5
 tip_amount            | 2.05
 tolls_amount          | 6.12
 ehail_fee             | null
 improvement_surcharge | 0.3
 total_amount          | 44.97
 payment_type          | 1
 trip_type             | 1
 congestion_surcharge  | 0.0
only showing top 1 row